.btn {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a.btn{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	font: 400 12px Arial;
}

.btn-success {
  background-color: #4CAF50;
}

.btn-info {
  background-color: #5BC0DE;
}

.btn-warning {
  background-color: #EC971F;
}

.btn-danger {
  background-color: #D9534F;
}

input[type=text],input[type=password],input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
	font-family: arial;
}

.panel{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.panel-green{
	border-radius: 5px;
    background-color: #C5EAC6;
	padding: 20px;
}

.panel-red{
	border-radius: 5px;
    background-color: #F2C0BF;
	padding: 20px;
}

input.checkboxLrg
{
width: 25px;
height: 25px;
}

input.checkboxMed
{
width: 20px;
height: 20px;
}